/* Memories */

#memory-charismatic{
    background-image: url(../images/build/memory-charismatic.jpg);
}

#memory-bold{
    background-image: url(../images/build/memory-bold.jpg);
}

#memory-good{
    background-image: url(../images/build/memory-good.jpg);
}

#memory-altruist{
    background-image: url(../images/build/memory-altruist.jpg);
}

#memory-adamant{
    background-image: url(../images/build/memory-adamant.jpg);
}

#memory-dependable{
    background-image: url(../images/build/memory-dependable.jpg);
}


/* Character Build */

#training-choices{
    background-image: url(../images/build/build-training.jpg);
}

#health-choices{
    background-image: url(../images/build/build-health.jpg);
}

#power-choices{
    background-image: url(../images/build/build-power.jpg);
}

#shield-choices{
    background-image: url(../images/build/build-shield.jpg);
}

#agility-choices{
    background-image: url(../images/build/build-agility.jpg);
}

#intelligence-choices{
    background-image: url(../images/build/build-intelligence.jpg);
}

#learning-choices{
    background-image: url(../images/build/build-learning.jpeg);
}

#sustenance-choices{
    background-image: url(../images/build/build-sustenance.jpg);
}

#elemental-choices{
    background-image: url(../images/build/build-elemental.jpg);
}

#supportive-choices{
    background-image: url(../images/build/build-supportive.jpg);
}

#alchemy-choices{
    background-image: url(../images/build/build-alchemy.jpg);
}

#enchantment-choices{
    background-image: url(../images/build/build-enchantment.jpg);
}

#armour-choices{
    background-image: url(../images/build/build-armour.jpg);
}

#sword-choices{
    background-image: url(../images/build/build-sword.jpg);
}

#bow-choices{
    background-image: url(../images/build/build-bow.jpg);
}

#ring-choices{
    background-image: url(../images/build/build-ring.jpg);
}

#smithing-choices{
    background-image: url(../images/build/build-smithing.jpg);
}

#apothecary-choices{
    background-image: url(../images/build/build-apothecary.jpg);
}

#survival-choices{
    background-image: url(../images/build/build-survival.jpg);
}

#stealth-choices{
    background-image: url(../images/build/build-stealth.jpg);
}


/* Friendship Build */

#speaker-choices{
    background-image: url(../images/build/build-speaker.jpg);
}

#inspiration-choices{
    background-image: url(../images/build/build-inspiration.jpg);
}

#diplomacy-choices{
    background-image: url(../images/build/build-diplomacy.jpg);
}

#calming-choices{
    background-image: url(../images/build/build-calming.jpg);
}

#money-choices{
    background-image: url(../images/build/build-money.jpg);
}

#nobility-choices{
    background-image: url(../images/build/build-nobility.jpg);
}

#connections-choices{
    background-image: url(../images/build/build-connections.jpg);
}

#dating-choices{
    background-image: url(../images/build/build-dating.jpg);
}

#taming-choices{
    background-image: url(../images/build/build-taming.jpg);
}

#charm-choices{
    background-image: url(../images/build/build-charm.jpg);
}

#beauty-choices{
    background-image: url(../images/build/build-beauty.jpg);
}

#dysphoria-choices{
    background-image: url(../images/build/build-dysphoria.jpg);
}


/* Friends */
#leron-choices{
    background-image: url(../images/friends/Leron.jpg);
}

#rie-choices{
    background-image: url(../images/friends/Rie.jpg);
}

#elely-choices{
    background-image: url(../images/friends/Elely.jpg);
}

#wendy-choices{
    background-image: url(../images/friends/Wendy.jpg);
}

#demeter-choices{
    background-image: url(../images/friends/Demeter.jpg);
}

#kumin-choices{
    background-image: url(../images/friends/Kumin.jpg);
}

#heinrich-lyre-choices{
    background-image: url(../images/friends/Heinrich-Lyre.jpg);
}

#jule-choices{
    background-image: url(../images/friends/Jule.jpg);
}

#allyn-choices{
    background-image: url(../images/friends/Allyn.jpg);
}

#ilo-choices{
    background-image: url(../images/friends/Ilo.jpg);
}

#lucine-choices{
    background-image: url(../images/friends/Lucine.jpg);
}

#lucy-choices{
    background-image: url(../images/friends/Lucy.jpg);
}

#samantha-choices{
    background-image: url(../images/friends/Samantha.jpg);
}

#jennifer-choices{
    background-image: url(../images/friends/Jennifer.jpg);
}

#ell-choices{
    background-image: url(../images/friends/Ell.jpg);
}

#illia-choices{
    background-image: url(../images/friends/Illia.jpg);
}

#haii-choices{
    background-image: url(../images/friends/Haii.jpg);
}

#erin-choices{
    background-image: url(../images/friends/Erin.jpg);
}

#emely-choices{
    background-image: url(../images/friends/Emely.jpg);
}

/* Drawbacks */
#infamous-choices{
    background-image: url(../images/drawbacks/infamous.jpg);
}

#enemies-choices{
    background-image: url(../images/drawbacks/enemies.jpg);
}

#traitor-choices{
    background-image: url(../images/drawbacks/traitor.jpg);
}

#jet-lag-choices{
    background-image: url(../images/drawbacks/jet-lag.jpg);
}

#soul-link-choices{
    background-image: url(../images/drawbacks/soul-link.jpg);
}

#puppeteer-choices{
    background-image: url(../images/drawbacks/puppeteer.jpg);
}

#nightmares-choices{
    background-image: url(../images/drawbacks/nightmares.jpg);
}

#broken-mirror-choices{
    background-image: url(../images/drawbacks/broken-mirror.jpg);
}

#stranger-choices{
    background-image: url(../images/drawbacks/stranger.png);
}

/* Quests */
#-choices{
    background-image: url(../images/quests/);
}