/* Memories */

#memory-charismatic{
    background-image: url(../images/memory-charismatic.jpg);
}

#memory-bold{
    background-image: url(../images/memory-bold.jpg);
}

#memory-good{
    background-image: url(../images/memory-good.jpg);
}

#memory-altruist{
    background-image: url(../images/memory-altruist.jpg);
}

#memory-adamant{
    background-image: url(../images/memory-adamant.jpg);
}

#memory-dependable{
    background-image: url(../images/memory-dependable.jpg);
}


/* Character Build */

#training-choices{
    background-image: url(../images/build-training.jpg);
}

#health-choices{
    background-image: url(../images/build-health.jpg);
}

#power-choices{
    background-image: url(../images/build-power.jpg);
}

#shield-choices{
    background-image: url(../images/build-shield.jpg);
}

#agility-choices{
    background-image: url(../images/build-agility.jpg);
}

#intelligence-choices{
    background-image: url(../images/build-intelligence.jpg);
}

#learning-choices{
    background-image: url(../images/build-learning.jpeg);
}

#sustenance-choices{
    background-image: url(../images/build-sustenance.jpg);
}

#elemental-choices{
    background-image: url(../images/build-elemental.jpg);
}

#supportive-choices{
    background-image: url(../images/build-supportive.jpg);
}

#alchemy-choices{
    background-image: url(../images/build-alchemy.jpg);
}

#enchantment-choices{
    background-image: url(../images/build-enchantment.jpg);
}

#armour-choices{
    background-image: url(../images/build-armour.jpg);
}

#sword-choices{
    background-image: url(../images/build-sword.jpg);
}

#bow-choices{
    background-image: url(../images/build-bow.jpg);
}

#ring-choices{
    background-image: url(../images/build-ring.jpg);
}

#smithing-choices{
    background-image: url(../images/build-smithing.jpg);
}

#apothecary-choices{
    background-image: url(../images/build-apothecary.jpg);
}

#survival-choices{
    background-image: url(../images/build-survival.jpg);
}

#stealth-choices{
    background-image: url(../images/build-stealth.jpg);
}


/* Friendship Build */

#speaker-choices{
    background-image: url(../images/build-speaker.jpg);
}

#inspiration-choices{
    background-image: url(../images/build-inspiration.jpg);
}

#diplomacy-choices{
    background-image: url(../images/build-diplomacy.jpg);
}

#calming-choices{
    background-image: url(../images/build-calming.jpg);
}

#money-choices{
    background-image: url(../images/build-money.jpg);
}

#nobility-choices{
    background-image: url(../images/build-nobility.jpg);
}

#connections-choices{
    background-image: url(../images/build-connections.jpg);
}

#dating-choices{
    background-image: url(../images/build-dating.jpg);
}

#taming-choices{
    background-image: url(../images/build-taming.jpg);
}

#charm-choices{
    background-image: url(../images/build-charm.jpg);
}

#beauty-choices{
    background-image: url(../images/build-beauty.jpg);
}

#dysphoria-choices{
    background-image: url(../images/build-dysphoria.jpg);
}


/* Friends */
#leron-choices{
    background-image: url(../images/friends/Leron.jpg);
}

#rie-choices{
    background-image: url(../images/friends/Rie.jpg);
}

#elely-choices{
    background-image: url(../images/friends/Elely.jpg);
}

#wendy-choices{
    background-image: url(../images/friends/Wendy.jpg);
}

#demeter-choices{
    background-image: url(../images/friends/Demeter.jpg);
}

#kumin-choices{
    background-image: url(../images/friends/Kumin.jpg);
}

#heinrich-lyre-choices{
    background-image: url(../images/friends/Heinrich-Lyre.jpg);
}

#jule-choices{
    background-image: url(../images/friends/Jule.jpg);
}

#allyn-choices{
    background-image: url(../images/friends/Allyn.jpg);
}

#ilo-choices{
    background-image: url(../images/friends/Ilo.jpg);
}

#lucine-choices{
    background-image: url(../images/friends/Lucine.jpg);
}

#lucy-choices{
    background-image: url(../images/friends/Lucy.jpg);
}

#samantha-choices{
    background-image: url(../images/friends/Samantha.jpg);
}

#jennifer-choices{
    background-image: url(../images/friends/Jennifer.jpg);
}

#ell-choices{
    background-image: url(../images/friends/Ell.jpg);
}

#illia-choices{
    background-image: url(../images/friends/Illia.jpg);
}

#haii-choices{
    background-image: url(../images/friends/Haii.jpg);
}

#erin-choices{
    background-image: url(../images/friends/Erin.jpg);
}

#emely-choices{
    background-image: url(../images/friends/Emely.jpg);
}